html
{
    margin:0vw;
}
body
{
    text-decoration: none;
}

/* DESKTOP */
#fond
{   position: absolute;
    z-index: 1;
    top:0vw;
    width: 100vw;
}
nav{
    position: relative;
    z-index: 2;
}
h1{
    z-index: 2;
    position: relative;
}
#link-menu{
    width: 40%;
}
#link-menu ul{
    width: 50vw;
    display: flex;
    justify-content: space-between;
}


#cross-menu, #arrow-menu 
{
    display: none;
}

/* MOBILE */
@media screen and (max-width: 667px) {

    nav, h1{
        position: relative;
        z-index: 2;
    }
    h1{
        margin-left: 6vw;
        font-size: 1em !important;
        color: white;
    }
  #link-menu{
      display: none;
  }

    #form-accueil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25vw;
    }
    #form-accueil input{
        border-radius: 0.6vw;
        
    }
    form div{
    width: 50vw;
    }

    #fond{
        position: relative;
        width: 100vw;
        z-index: 1;
        top: -28vw;
    }
    #arrow-menu{
        display: block;
    }
}