*{margin:0;}

#logo 
{
    width: 10vw;
}

@media screen and (max-width: 670px)
{
    #logo
    {
        width: 20vw;
    }
    #mob-ham
    {
        width:8vw;
    }
    #mob-cross
    {
        width:4.5vw;
    }
}