/* code couleur violet: #8F5EB4 */

*{margin:0;}

#logo 
{
    width: 10vw;
}
.navbar-toggler {
    color: white !important;
    border: none !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
.nav-link {
    color: #BEBBBB;

}
 .nav-link:hover{
      color: #FFFFFF !important;
  }
.h5footer {
    color:#8F5EB4;
}

.dropdown-menu a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 670px)
{
    #logo
    {
        width: 20vw;
    }
    #mob-ham
    {
        width:8vw;
    }
    #mob-cross
    {
        width:4.5vw;
    }
}